@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  h1 {
    font-size: 60px;
    background: linear-gradient(to right, #120b77, #c515f5);
    background-clip: text;
    color: transparent;
    font-family: "Playfair Display", serif;
  }
  
  #game-board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 11px;
    margin: 70px auto;
    width: 321px;
  }
  
  .cell {
    width: 100px;
    height: 100px;
    font-size: 36px;
    text-align: center;
    line-height: 100px;
    background-color: #d4d3d4;
    cursor: pointer;
    user-select: none;
  }

  .cell:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(185, 130, 241, 0.613);
  }
  
  #message {
    font-size: 24px;
    margin: 15px;
    color:#f73003;
    font-family: "Prompt", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  #reset-button {
    font-size: 18px;
    padding: 20px 40px;
    background-color: #b94ce4;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
/*hover effect */
#reset-button:hover {
  background-color: #641484;
}
